.nowshowing {
    margin-bottom: 1.5rem;
}

.nowshowing__cards {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 1rem;
    margin-right: -1.5rem;
    padding-right: 1.5rem;
}

.nowshowing__title {
    font-size: 1rem;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.movie__card {
    min-width: 143px;
    display: grid;
}

.movie__img, .movie__img img {
    border-radius: 5px;
}

.nowshowing a{
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: light-dark(var(--dark-color), var(--light-color));
}

.movie__rating {
    padding: 0;
    margin-top: auto;
    font-size: 0.75rem;
    color: #9C9C9C;
}

.movie__rating .fa-star {
    color: #FFC319;
}